.home{
    background-color: rgb(255, 255, 255);
}

.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 2rem;
}

.foto{
    height: 100%;
    width: 100%;
}

.foto2{
    height: 100%;
    width: 55%;
}

.borda{
    border: 1px solid crimson;
    border-radius: 10px 10px 10px 10px;
}